<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnError="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd">
    <source>
        <include>
            <directory>src/</directory>
            <directory>recipe/</directory>
        </include>
        <exclude>
            <directory suffix=".php">vendor/</directory>
            <directory>bin/</directory>
        </exclude>
    </source>
    <testsuites>
        <testsuite name="src">
            <directory>tests/src/</directory>
        </testsuite>
        <testsuite name="spec">
            <directory>tests/spec/</directory>
            <exclude>tests/spec/SpecTest.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
